# Ignore vendor/generated code in GitHub language stats
*.nasl linguist-vendored
*.pyx linguist-generated
*.pxd linguist-generated
*.cpp linguist-vendored
*.c linguist-vendored
*.h linguist-vendored

# Git LFS tracking (your original lines)
*.dll filter=lfs diff=lfs merge=lfs -text
*.pyd filter=lfs diff=lfs merge=lfs -text
model/myenv/Lib/site-packages/clang/native/libclang.dll filter=lfs diff=lfs merge=lfs -text
model/myenv/Lib/site-packages/tensorflow/python/_pywrap_tensorflow_internal.pyd filter=lfs diff=lfs merge=lfs -text
